In [1]:
%config Completer.use_jedi= False

In [2]:
import pandas as pd
import scipy.stats as stats

- creating a compelete dataframe including all sleep scales (ASWS and questions-cathegorical and continious), and all ADHD scales (conners and questions-cathegorical and continious)

In [3]:
df = pd.read_csv('../../csv files/df_sleepADHD_condich_30May2022.csv')
df.drop('Unnamed: 0', axis = 1, inplace=True)

In [4]:
df.shape

(197, 27)

In [5]:
df.head()

,id_number,ChildGender,d1_diagadhd_dich,d3_diagadhd_dich,d5_diagadhd_dich,p0_cpadhdi_raw,p3_cpadhdi_raw,p4_cpadhdi_raw,p5_cpadhdi_raw,c4_sws_gb,...,c5_sws_ms,c5_sws_rs,c5_sws_rw,c5_sws_total,zscore_p4_cpadhd,tscore_p4_cpadhd,dich_tscore_p4_cpadhd,zscore_p5_cpadhd,tscore_p5_cpadhd,dich_tscore_p5_cpadhd
0,15,1,0.0,0,0.0,0,0.0,0.0,0.0,3.0,...,1.833333,1.666667,3.4,1.513333,-0.873141,41.268588,0.0,-0.743133,42.568674,0.0
1,71,1,1.0,1,NaN,14,12.0,12.0,NaN,4.0,...,NaN,NaN,NaN,NaN,0.932674,59.326736,0.0,NaN,NaN,NaN
2,85,0,0.0,0,0.0,5,14.0,0.0,1.0,2.8,...,2.500000,2.000000,4.2,2.520000,-0.873141,41.268588,0.0,-0.580498,44.195019,0.0
3,86,1,1.0,1,0.0,16,11.0,18.0,NaN,NaN,...,NaN,NaN,NaN,NaN,1.835581,68.355810,1.0,NaN,NaN,NaN
4,134,1,0.0,0,0.0,2,0.0,0.0,0.0,3.6,...,2.166667,2.000000,3.8,2.346667,-0.873141,41.268588,0.0,-0.743133,42.568674,0.0

## Adding SQD questions

In [6]:
df_sdq = pd.read_csv('../../csv files/SDQ.csv')
df_sdq.head()

,id_number,p4_sdqemotion,p4_sdqconduct,p4_sdqhyper,p4_sdqpeer,p4_sdqprosoc,p4_sdqtot,p4_sdqimpact,p5_sdqemotion,p5_sdqconduct,p5_sdqhyper,p5_sdqpeer,p5_sdqprosoc,p5_sdqtot,p5_sdqimpact
0,15,0.0,0.0,0.0,1.0,10.0,1.0,0.0,0.0,2.0,0.0,1.0,10.0,3.0,0.0
1,71,6.0,6.0,9.0,3.0,6.0,24.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,85,5.0,0.0,3.0,1.0,9.0,9.0,0.0,4.0,2.0,4.0,1.0,9.0,11.0,4.0
3,86,8.0,4.0,10.0,3.0,6.0,25.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,134,1.0,0.0,1.0,0.0,9.0,2.0,0.0,1.0,2.0,1.0,0.0,8.0,4.0,0.0

In [7]:
df = pd.merge(left=df, right=df_sdq, how='left', on='id_number')

### creating categorical measurement from conners with 60 and 70 cutoffs

In [8]:
df.head()

,id_number,ChildGender,d1_diagadhd_dich,d3_diagadhd_dich,d5_diagadhd_dich,p0_cpadhdi_raw,p3_cpadhdi_raw,p4_cpadhdi_raw,p5_cpadhdi_raw,c4_sws_gb,...,p4_sdqprosoc,p4_sdqtot,p4_sdqimpact,p5_sdqemotion,p5_sdqconduct,p5_sdqhyper,p5_sdqpeer,p5_sdqprosoc,p5_sdqtot,p5_sdqimpact
0,15,1,0.0,0,0.0,0,0.0,0.0,0.0,3.0,...,10.0,1.0,0.0,0.0,2.0,0.0,1.0,10.0,3.0,0.0
1,71,1,1.0,1,NaN,14,12.0,12.0,NaN,4.0,...,6.0,24.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,85,0,0.0,0,0.0,5,14.0,0.0,1.0,2.8,...,9.0,9.0,0.0,4.0,2.0,4.0,1.0,9.0,11.0,4.0
3,86,1,1.0,1,0.0,16,11.0,18.0,NaN,NaN,...,6.0,25.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,134,1,0.0,0,0.0,2,0.0,0.0,0.0,3.6,...,9.0,2.0,0.0,1.0,2.0,1.0,0.0,8.0,4.0,0.0

In [9]:
df = df.rename({'dich_tscore_p4_cpadhd' : 'dich_tscore_p4_cpadhd_65', 'dich_tscore_p5_cpadhd': 'dich_tscore_p5_cpadhd_65'}, axis = 1)

In [10]:
df.head()

,id_number,ChildGender,d1_diagadhd_dich,d3_diagadhd_dich,d5_diagadhd_dich,p0_cpadhdi_raw,p3_cpadhdi_raw,p4_cpadhdi_raw,p5_cpadhdi_raw,c4_sws_gb,...,p4_sdqprosoc,p4_sdqtot,p4_sdqimpact,p5_sdqemotion,p5_sdqconduct,p5_sdqhyper,p5_sdqpeer,p5_sdqprosoc,p5_sdqtot,p5_sdqimpact
0,15,1,0.0,0,0.0,0,0.0,0.0,0.0,3.0,...,10.0,1.0,0.0,0.0,2.0,0.0,1.0,10.0,3.0,0.0
1,71,1,1.0,1,NaN,14,12.0,12.0,NaN,4.0,...,6.0,24.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,85,0,0.0,0,0.0,5,14.0,0.0,1.0,2.8,...,9.0,9.0,0.0,4.0,2.0,4.0,1.0,9.0,11.0,4.0
3,86,1,1.0,1,0.0,16,11.0,18.0,NaN,NaN,...,6.0,25.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,134,1,0.0,0,0.0,2,0.0,0.0,0.0,3.6,...,9.0,2.0,0.0,1.0,2.0,1.0,0.0,8.0,4.0,0.0

In [11]:
# wave 4: 40, 60 and 70

df['dich_tscore_p4_cpadhd_40'] = df['dich_tscore_p4_cpadhd_65']
for i,ind in enumerate(df['tscore_p4_cpadhd']):
    if ind >= 40:
        df['dich_tscore_p4_cpadhd_40'][i] = 1
    else:
        df['dich_tscore_p4_cpadhd_40'][i] = 0
        
        
df['dich_tscore_p4_cpadhd_60'] = df['dich_tscore_p4_cpadhd_65']
for i,ind in enumerate(df['tscore_p4_cpadhd']):
    if ind >= 60:
        df['dich_tscore_p4_cpadhd_60'][i] = 1
    else:
        df['dich_tscore_p4_cpadhd_60'][i] = 0
        

df['dich_tscore_p4_cpadhd_70'] = df['dich_tscore_p4_cpadhd_65']
for i,ind in enumerate(df['tscore_p4_cpadhd']):
    if ind >= 70:
        df['dich_tscore_p4_cpadhd_70'][i] = 1
    else:
        df['dich_tscore_p4_cpadhd_70'][i] = 0
        
df['dich_tscore_p4_cpadhd_4060'] = df['dich_tscore_p4_cpadhd_65']
for i,ind in enumerate(df['tscore_p4_cpadhd']):
    if ind >= 60:
        df['dich_tscore_p4_cpadhd_70'][i] = 1
    elif ind <= 40:
        df['dich_tscore_p4_cpadhd_70'][i] = 0
        
#=============== wave 5: 40, 60 and 70 ===================

df['dich_tscore_p5_cpadhd_40'] = df['dich_tscore_p5_cpadhd_65']
for i,ind in enumerate(df['tscore_p5_cpadhd']):
    if ind >= 60:
        df['dich_tscore_p5_cpadhd_40'][i] = 1
    else:
        df['dich_tscore_p5_cpadhd_40'][i] = 0
        

df['dich_tscore_p5_cpadhd_60'] = df['dich_tscore_p5_cpadhd_65']
for i,ind in enumerate(df['tscore_p5_cpadhd']):
    if ind >= 60:
        df['dich_tscore_p5_cpadhd_60'][i] = 1
    else:
        df['dich_tscore_p5_cpadhd_60'][i] = 0
        

df['dich_tscore_p5_cpadhd_70'] = df['dich_tscore_p5_cpadhd_65']
for i,ind in enumerate(df['tscore_p5_cpadhd']):
    if ind >= 70:
        df['dich_tscore_p5_cpadhd_70'][i] = 1
    else:
        df['dich_tscore_p5_cpadhd_70'][i] = 0
        
df['dich_tscore_p5_cpadhd_4060'] = df['dich_tscore_p5_cpadhd_65']
for i,ind in enumerate(df['tscore_p5_cpadhd']):
    if ind >= 60:
        df['dich_tscore_p5_cpadhd_4060'][i] = 1
    elif ind <= 40:
        df['dich_tscore_p5_cpadhd_4060'][i] = 0

<ipython-input-11-e44aeb7257b5>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['dich_tscore_p4_cpadhd_40'][i] = 1
<ipython-input-11-e44aeb7257b5>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['dich_tscore_p4_cpadhd_40'][i] = 0
<ipython-input-11-e44aeb7257b5>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['dich_tscore_p4_cpadhd_60'][i] = 0
<ipython-input-11-e44aeb7257b5>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['dich_tscore_p4_cpadhd_60'][i] = 1
<ipython-input-11-e44aeb7257b5>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['dich_tscore_p4_cpadhd_70'][i] = 0
<ipython-input-11-e44aeb7257b5>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['dich_tscore_p4_cpadhd_70'][i] = 1
<ipython-input-11-e44aeb7257b5>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['dich_tscore_p4_cpadhd_70'][i] = 1
<ipython-input-11-e44aeb7257b5>:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['dich_tscore_p5_cpadhd_40'][i] = 0
<ipython-input-11-e44aeb7257b5>:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['dich_tscore_p5_cpadhd_40'][i] = 1
<ipython-input-11-e44aeb7257b5>:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['dich_tscore_p5_cpadhd_60'][i] = 0
<ipython-input-11-e44aeb7257b5>:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['dich_tscore_p5_cpadhd_60'][i] = 1
<ipython-input-11-e44aeb7257b5>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['dich_tscore_p5_cpadhd_70'][i] = 0
<ipython-input-11-e44aeb7257b5>:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['dich_tscore_p5_cpadhd_70'][i] = 1
<ipython-input-11-e44aeb7257b5>:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['dich_tscore_p5_cpadhd_4060'][i] = 1

### creating categorical measurement from SDQ with 60, 65, and 70 cutoffs (t-score)

In [12]:
df.shape

(197, 49)

In [13]:
lst = ['p4_sdqemotion', 'p4_sdqconduct','p4_sdqhyper','p4_sdqpeer','p4_sdqprosoc','p4_sdqtot','p4_sdqimpact','p5_sdqemotion','p5_sdqconduct',
       'p5_sdqhyper','p5_sdqpeer','p5_sdqprosoc','p5_sdqtot','p5_sdqimpact']
#drop = df[lst]

In [14]:
df = df.dropna(axis = 0,subset = ['p4_sdqemotion', 'p4_sdqconduct','p4_sdqhyper','p4_sdqpeer','p4_sdqprosoc','p4_sdqtot','p4_sdqimpact','p5_sdqemotion','p5_sdqconduct',
       'p5_sdqhyper','p5_sdqpeer','p5_sdqprosoc','p5_sdqtot','p5_sdqimpact'])
#df = df[pd.notnull(df[['p4_sdqemotion', 'p4_sdqconduct','p4_sdqhyper','p4_sdqpeer','p4_sdqprosoc','p4_sdqtot','p4_sdqimpact','p5_sdqemotion','p5_sdqconduct',
#       'p5_sdqhyper','p5_sdqpeer','p5_sdqprosoc','p5_sdqtot','p5_sdqimpact']])]

In [15]:
df.shape

(127, 49)

In [16]:
for col in df.columns:
    if col in lst:
        zscore = 'zscore_' + col
        df[zscore] = stats.zscore(list(df[col].values))
        tscore = 'tscore_' + col
        df[tscore] = ((df[zscore])*10) + 50

In [17]:
df.shape

(127, 77)

In [18]:
df.head()

,id_number,ChildGender,d1_diagadhd_dich,d3_diagadhd_dich,d5_diagadhd_dich,p0_cpadhdi_raw,p3_cpadhdi_raw,p4_cpadhdi_raw,p5_cpadhdi_raw,c4_sws_gb,...,zscore_p5_sdqhyper,tscore_p5_sdqhyper,zscore_p5_sdqpeer,tscore_p5_sdqpeer,zscore_p5_sdqprosoc,tscore_p5_sdqprosoc,zscore_p5_sdqtot,tscore_p5_sdqtot,zscore_p5_sdqimpact,tscore_p5_sdqimpact
0,15,1,0.0,0,0.0,0,0.0,0.0,0.0,3.0,...,-1.390177,36.098232,-0.391191,46.088086,1.008907,60.089065,-1.254943,37.450571,-0.602324,43.976764
2,85,0,0.0,0,0.0,5,14.0,0.0,1.0,2.8,...,-0.018896,49.811044,-0.391191,46.088086,0.510342,55.103418,-0.047536,49.524643,1.088176,60.881758
4,134,1,0.0,0,0.0,2,0.0,0.0,0.0,3.6,...,-1.047357,39.526435,-0.851203,41.487965,0.011777,50.117771,-1.104017,38.959830,-0.602324,43.976764
5,152,0,1.0,0,1.0,7,2.0,2.0,3.0,3.0,...,0.323925,53.239247,-0.851203,41.487965,1.008907,60.089065,-0.349388,46.506125,-0.602324,43.976764
6,225,1,0.0,0,0.0,3,0.0,0.0,0.0,3.6,...,-1.390177,36.098232,0.528833,55.288328,1.008907,60.089065,-0.953091,40.469089,-0.602324,43.976764

In [19]:
df = df.reset_index()

In [20]:
df.head()

,index,id_number,ChildGender,d1_diagadhd_dich,d3_diagadhd_dich,d5_diagadhd_dich,p0_cpadhdi_raw,p3_cpadhdi_raw,p4_cpadhdi_raw,p5_cpadhdi_raw,...,zscore_p5_sdqhyper,tscore_p5_sdqhyper,zscore_p5_sdqpeer,tscore_p5_sdqpeer,zscore_p5_sdqprosoc,tscore_p5_sdqprosoc,zscore_p5_sdqtot,tscore_p5_sdqtot,zscore_p5_sdqimpact,tscore_p5_sdqimpact
0,0,15,1,0.0,0,0.0,0,0.0,0.0,0.0,...,-1.390177,36.098232,-0.391191,46.088086,1.008907,60.089065,-1.254943,37.450571,-0.602324,43.976764
1,2,85,0,0.0,0,0.0,5,14.0,0.0,1.0,...,-0.018896,49.811044,-0.391191,46.088086,0.510342,55.103418,-0.047536,49.524643,1.088176,60.881758
2,4,134,1,0.0,0,0.0,2,0.0,0.0,0.0,...,-1.047357,39.526435,-0.851203,41.487965,0.011777,50.117771,-1.104017,38.959830,-0.602324,43.976764
3,5,152,0,1.0,0,1.0,7,2.0,2.0,3.0,...,0.323925,53.239247,-0.851203,41.487965,1.008907,60.089065,-0.349388,46.506125,-0.602324,43.976764
4,6,225,1,0.0,0,0.0,3,0.0,0.0,0.0,...,-1.390177,36.098232,0.528833,55.288328,1.008907,60.089065,-0.953091,40.469089,-0.602324,43.976764

In [21]:
for col in df.columns:
    if col.find("tscore_p") == 0:
        name = "dich_" + col + "_40"
        df[name] = df[col]
        for i,ind in enumerate(df[col]):
            if ind >= 40:
                df[name][i] = '1'
            else:
                df[name][i] = '0'
                
for col in df.columns:
    if col.find("tscore_p") == 0:
        name = "dich_" + col + "_60"
        df[name] = df[col]
        for i,ind in enumerate(df[col]):
            if ind >= 60:
                df[name][i] = '1'
            else:
                df[name][i] = '0'
                
                
for col in df.columns:
    if col.find("tscore_p") == 0:
        name = "dich_" + col + "_65"
        df[name] = df[col]
        for i,ind in enumerate(df[col]):
            if ind >= 65:
                df[name][i] = '1'
            else:
                df[name][i] = '0'
        
        
for col in df.columns:
    if col.find("tscore_p") == 0:
        name = "dich_" + col + "_70"
        df[name] = df[col]
        for i,ind in enumerate(df[col]):
            if ind >= 70:
                df[name][i] = '1'
            else:
                df[name][i] = '0'
                
for col in df.columns:
    if col.find("tscore_p") == 0:
        name = "dich_" + col + "_4060"
        df[name] = df[col]
        for i,ind in enumerate(df[col]):
            if ind >= 60:
                df[name][i] = '1'
            elif ind <=40:
                df[name][i] = '0'
            else:
                df[name][i] = 'NaN'

<ipython-input-21-d6f4838f6d1b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name][i] = '1'
<ipython-input-21-d6f4838f6d1b>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name][i] = '0'
<ipython-input-21-d6f4838f6d1b>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name][i] = '0'
<ipython-input-21-d6f4838f6d1b>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name][i] = '1'
<ipython-input-21-d6f4838f6d1b>:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name][i] = '0'
<ipython-input-21-d6f4838f6d1b>:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name][i] = '1'
<ipython-input-21-d6f4838f6d1b>:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name][i] = '0'
<ipython-input-21-d6f4838f6d1b>:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name][i] = '1'
<ipython-input-21-d6f4838f6d1b>:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name][i] = 'NaN'
<ipython-input-21-d6f4838f6d1b>:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name][i] = '1'
<ipython-input-21-d6f4838f6d1b>:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name][i] = '0'

In [22]:
df.head()

,index,id_number,ChildGender,d1_diagadhd_dich,d3_diagadhd_dich,d5_diagadhd_dich,p0_cpadhdi_raw,p3_cpadhdi_raw,p4_cpadhdi_raw,p5_cpadhdi_raw,...,dich_tscore_p4_sdqprosoc_4060,dich_tscore_p4_sdqtot_4060,dich_tscore_p4_sdqimpact_4060,dich_tscore_p5_sdqemotion_4060,dich_tscore_p5_sdqconduct_4060,dich_tscore_p5_sdqhyper_4060,dich_tscore_p5_sdqpeer_4060,dich_tscore_p5_sdqprosoc_4060,dich_tscore_p5_sdqtot_4060,dich_tscore_p5_sdqimpact_4060
0,0,15,1,0.0,0,0.0,0,0.0,0.0,0.0,...,1.0,0.0,NaN,0.0,NaN,0.0,NaN,1.0,0.0,NaN
1,2,85,0,0.0,0,0.0,5,14.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,4,134,1,0.0,0,0.0,2,0.0,0.0,0.0,...,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN
3,5,152,0,1.0,0,1.0,7,2.0,2.0,3.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
4,6,225,1,0.0,0,0.0,3,0.0,0.0,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,1.0,NaN,NaN

In [23]:
df.shape

(127, 148)

## Converting ASWS to cathegorical

In [24]:
lst = ['c4_sws_gb', 'c4_sws_fa', 'c4_sws_ms', 'c4_sws_rs', 'c4_sws_rw', 'c4_sws_total',
        'c5_sws_gb', 'c5_sws_fa', 'c5_sws_ms', 'c5_sws_rs', 'c5_sws_rw', 'c5_sws_total']
df = df.dropna(axis = 0,subset = lst)

In [25]:
df.shape

(106, 148)

In [26]:
for col in df.columns:
    if (col.find("c4_sws") == 0 or col.find("c5_sws") == 0):
        #print(col)
        zscore = 'zscore_' + col
        df[zscore] = stats.zscore(list(df[col].values))
        tscore = 'tscore_' + col
        df[tscore] = ((df[zscore])*10) + 50

In [27]:
df.shape

(106, 172)

In [31]:
df = df.reset_index()

In [32]:
for col in df.columns:
    if col.find("tscore_c") == 0:
        name = "dich_" + col + "_40"
        df[name] = df[col]
        for i,ind in enumerate(df[col]):
            if ind >= 40:
                df[name][i] = '1'
            else:
                df[name][i] = '0'
                
for col in df.columns:
    if col.find("tscore_c") == 0:
        name = "dich_" + col + "_60"
        df[name] = df[col]
        for i,ind in enumerate(df[col]):
            if ind >= 60:
                df[name][i] = '1'
            else:
                df[name][i] = '0'
                
                
for col in df.columns:
    if col.find("tscore_c") == 0:
        name = "dich_" + col + "_65"
        df[name] = df[col]
        for i,ind in enumerate(df[col]):
            if ind >= 65:
                df[name][i] = '1'
            else:
                df[name][i] = '0'
        
        
for col in df.columns:
    if col.find("tscore_c") == 0:
        name = "dich_" + col + "_70"
        df[name] = df[col]
        for i,ind in enumerate(df[col]):
            if ind >= 70:
                df[name][i] = '1'
            else:
                df[name][i] = '0'

<ipython-input-32-ecb562667019>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name][i] = '1'
<ipython-input-32-ecb562667019>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name][i] = '0'
<ipython-input-32-ecb562667019>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name][i] = '0'
<ipython-input-32-ecb562667019>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name][i] = '1'
<ipython-input-32-ecb562667019>:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name][i] = '0'
<ipython-input-32-ecb562667019>:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name][i] = '1'
<ipython-input-32-ecb562667019>:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name][i] = '0'
<ipython-input-32-ecb562667019>:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name][i] = '1'

In [34]:
df.to_csv('../../csv files/df_allSleepADHD_30May2022.csv')

## creating 4060 for all subgroups of sws